@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 140px;

  @include for-laptop {
    padding-inline: 20px;
  }

}

.containerMain {
  display: flex;
  height: 700px;
  gap: 20px;

  @include for-laptop {
    flex-direction: column-reverse;
    height: 400px;
  }
}
