//colors

$background-color: #131721;

$color-primary: #111319;
$color-primary-hover: #a59ce2;

$color-white: #ffffff;
$color-gray: #DCE2EB;

//borders
$custom-radius: 20px;
$small-radius: 8px;
$big-radius: 40px;

//sizes
$sze-phone-sm: 320px;
$sze-phone-md: 380px;
$sze-phone-bg: 480px;
$sze-ipad: 768px;
$sze-ipad-pro: 1024px;
$sze-laptop-sm: 1200px;
$sze-laptop-mac: 1440px;
$sze-desktop: 1920px;
$sze-desktop-qHD: 2560px;
$sze-desktop-uHD: 3840px;

