@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  height: 80px;
  display: flex;
  align-items: center;
  padding-inline: 140px;
  justify-content: space-between;

  @include for-laptop {
    padding-inline: 20px;
  }
}

.menuContainer {
  display: flex;
  gap: 40px;

  @include for-laptop {
    display: none;
  }

  .menuItem {
    cursor: pointer;
  }

}